$color-blanco: #ebe6ea;
$color-azul: aliceblue;
$color-negro: black;
$color-gris: #484441;

/* estilo de blogs */

.blogs {
    text-align: center;
    padding: 45px;
    background-color: $color-blanco;
  }
  